@media (min-width: 2001px) {
  .boardBackground {
    width: 900px;
    height: 900px;
  }
}

@media (max-width: 2000px) {
  .boardBackground {
    width: 700px;
    height: 700px;
  }
}

@media (max-width: 1200px) {
  .boardBackground {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 768px) {

  .boardBackground {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 480px) {

  .boardBackground {
    width: 300px;
    height: 300px;
  }
}


.boardBackground {
  background-color: #947A54;
  margin-left: 20%;
}

.board {
  fill: #D8B589;
  x: 5%;
  y: 5%;
}

.boardLine {
  stroke: black;
  stroke-width: 3px;
}

.whiteStone {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.blackStone {
  fill: black;
  stroke: white;
  stroke-width: 1px;
}

.hoverCircle {
  fill: #A9A9A9;
  opacity: 0.5;
  stroke: black;
  stroke-opacity: 0.75;
  stroke-width: 1px;
}