@media (min-width: 2001px) {
  .boardBackground {
    width: 900px;
    height: 900px;
  }
}

@media (max-width: 2000px) {
  .boardBackground {
    width: 700px;
    height: 700px;
  }
}

@media (max-width: 1200px) {
  .boardBackground {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 768px) {

  .boardBackground {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 480px) {

  .boardBackground {
    width: 300px;
    height: 300px;
  }
}


.boardBackground {
  background-color: #947A54;
  /* margin-left: 20%; */
  margin-top: 5%;
}

.board {
  fill: #D8B589;
  x: 5%;
  y: 5%;
}

.board:hover {
  cursor: pointer;
}

.boardLine {
  stroke: black;
  stroke-width: 3px;
}

.boardLine:hover {
  cursor: pointer;
}

.whiteStone {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}


.blackStone {
  fill: black;
  stroke: white;
  stroke-width: 1px;
}

.hoverCircle {
  opacity: 0.5;
  stroke-opacity: 0.5;
}

.hoverCircle:hover {
  cursor: pointer;
}