.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  aspect-ratio: 1/1;
  max-height: 44rem;
  /* max-width: 54rem;
  max-height: 54rem;
  min-width: 54rem;
  min-height: 54rem; */
  margin: 3rem auto 6rem;
}