.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1%;
}

.blackScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  color: white;
  background-color: black;
}

.whiteScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  color: black;
  background-color: white;
}

.blackWinnerScore {
  border: 3px solid yellow;
  color: yellow;

}

.whiteWinnerScore {
  border: 3px solid red;
  color: red;

}


.loserScore {
  opacity: 0.3;
}